<div class="row">
    <div class="col-md-offset-1 col-md-10 text-center">
      <h1 class="animated zoomIn">¿Quienes Somos?</h1>
      <p class="animated slideInUp">Nuestro trabajo se basa en ofrecer un servicio de calidad en las areas de diseño y comunicación, por medio de recursos gráficos y audiovisuales complementados con el desarrollo de estrategías, análisis y un equipo de profesionales llenos de talento y ética, que le darán a su compañia un enfoque más acertado y con una proyeccción de crecimiento.</p>
      <i class="animated slideInUp">“Somos ese toque que hace que tus ideas luzcan diferente.”</i>
    </div>
<div class="text-center">
  <div class="col-md-4 animated bounceIn">
    <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQHyTFehRuUuqhoo-xQwxuVI8wYj8v4i_-z3KP6xSHPwdCG4EW" alt="">
    <h4>{{_servicio.info.persona1.nombre}}</h4>
    <h5>{{_servicio.info.persona1.cargo}}</h5>
    <p>{{_servicio.info.persona1.perfil}}</p>
  </div>
  <div class="col-md-4 animated bounceIn">
    <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQHyTFehRuUuqhoo-xQwxuVI8wYj8v4i_-z3KP6xSHPwdCG4EW" alt="">
    <h4>{{_servicio.info.persona2.nombre}}</h4>
    <h5>{{_servicio.info.persona2.cargo}}</h5>
    <p>{{_servicio.info.persona2.perfil}}</p>
  </div>
  <div class="col-md-4 animated bounceIn">
    <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQHyTFehRuUuqhoo-xQwxuVI8wYj8v4i_-z3KP6xSHPwdCG4EW" alt="">
    <h4>{{_servicio.info.persona3.nombre}}</h4>
    <h5>{{_servicio.info.persona3.cargo}}</h5>
    <p>{{_servicio.info.persona3.perfil}}</p>
  </div>
  </div>
</div>