
    <div class="col-md-offset-1 col-md-10 text-center">
      <h1>¿Quienes Somos?</h1>
      <p>Nuestro trabajo se basa en ofrecer un servicio de calidad en las areas de diseño y comunicación, por medio de recursos gráficos y audiovisuales complementados con el desarrollo de estrategías, análisis y un equipo de profesionales llenos de talento y ética, que le darán a su compañia un enfoque más acertado y con una proyeccción de crecimiento.</p>
  .    <i>“Somos ese toque que hace que tus ideas luzcan diferente.”</i>
    </div>
<div class="text-center">
  <div class="col-md-4">
    <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQHyTFehRuUuqhoo-xQwxuVI8wYj8v4i_-z3KP6xSHPwdCG4EW" alt="">
    <h4>Nombre</h4>
    <h5>Cargo</h5>
    <p>Descripción</p>
  </div>
  <div class="col-md-4">
    <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQHyTFehRuUuqhoo-xQwxuVI8wYj8v4i_-z3KP6xSHPwdCG4EW" alt="">
    <h4>Nombre</h4>
    <h5>Cargo</h5>
    <p>Descripción</p>
  </div>
  <div class="col-md-4">
    <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQHyTFehRuUuqhoo-xQwxuVI8wYj8v4i_-z3KP6xSHPwdCG4EW" alt="">
    <h4>Nombre</h4>
    <h5>Cargo</h5>
    <p>Descripción</p>
  </div>
  </div>
