<div class="row">
<img class="banner animated fadeIn col-md-12"
src="http://clovergraf.com/elementos/assets/img/banner_servicios.png" alt="">
<br><br>
<h5 class="text-center">¡Diversas posibilidades para llevar tus proyectos a otro nivel!</h5>

 <!-- Grid -->
<hr>
<div class="container bg animated bounceIn" *ngIf="!_servicios.cargarda" >

<!-- Elemento -->
    <div class="col-xs-12 col-sm-6 col-md-3 rwrapper"  *ngFor="let servicios of _servicios.info"  > 
     <div class="rlisting">
        <div class="col-md-12 nopad text-center">
          <img [src]="servicios.link_img" class="img-responsive centrado">
        </div>
        <div class="col-md-12 nopad text-center">
           <p>{{ servicios.des_corta }}</p>
           <div class="rfooter">
              <button type="button" [routerLink]="['/servicio' , servicios.id]" class="btn btn-primary boton btn-lg" name="button">
                  <a [routerLink]="['/servicio' , servicios.id]">Ver más</a>
              </button>
           </div><br>
        </div>
      </div>
    </div>
<!-- Fin Elemento -->
 </div>
<hr>

 <!-- Fin Grid -->
</div>
