<!-- ----------------------------------------------------
	Servicios Incicio
----------------------------------------------------- -->  
    <h1 class="text-center">Nuestros Servicios</h1><br>
	<div class="container"  *ngIf="!_servicios.cargarda">
		 <div class="row">
	            <div class="col-md-4" *ngFor="let servicios of _servicios.info">
                  <div class="card-content">
                      <div class="card-img">
                          <img [src]="servicios.link_img" alt="">
                      </div>
                      <div class="card-desc">
                          <h3>{{ servicios.servicio}}</h3>
                          <p>{{ servicios.des_corta }}</p>
                          <button type="button" [routerLink]="['/servicio' , servicios.id]" class="btn btn-primary boton btn-lg" name="button">
                            <a [routerLink]="['/servicio' , servicios.id]">Ver más</a>  
                          </button>
                      </div>
                  </div><br>
	            </div>
	     	</div>
	</div><br>
<!-- ----------------------------------------------------
	Servicios Fin
----------------------------------------------------- -->
