<footer class="main-footer animated fadeIn">
  <div class="wrap-footer">
    <div class="container">
      <ul class="list-inline top-link link">
        <li><a href="#">{{_servicio.info.redes.facebook}}</a></li>
        <li><a href="#">{{_servicio.info.redes.instagram}}</a></li>
        <li><a href="#">{{_servicio.info.redes.twitter}}</a></li>

      </ul>
      <div class="copyright">
        <p>Clover graf somos todo lo que te imaginas diseño gráfico y publicidad. Todos los derechos reservados. Diseñado y diagramado por Clover Graf</p>
        <span>Copyright © 2018 - Clovergraf. Todos los derechos reservados</span>
      </div>
    </div>
  </div>
</footer>
