<div class="jumbotron" *ngIf="producto">
    <div class="container text-center">
      <h1>{{producto.cliente}}</h1>      
      <p>{{producto.des_corta}}</p>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center" *ngIf="producto">    
    <h3>Trabajo realizado</h3><br>
    <p>{{producto.descripcion}}</p><br>
    <div class="row">
      <div class="col-sm-4">
  
        <img [src]="producto.imagen" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <img [src]="producto.imagen" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <img [src]="producto.imagen" class="img-responsive" style="width:100%" alt="Image">
      </div>
  </div>
  </div>
  <br>