<section class="box-content">
  <div class="container">
    <div class="row heading ">
    </div>
    <div class="row animated fadeIn">
      <div class="col-md-4 box-item">
        <h3>{{_servicio.info.titulo}}</h3>
        <span>{{_servicio.info.descripcion}}</span><br> <br>
        <p>{{_servicio.info.direccion}}</p>
        <p>{{_servicio.info.telefono}}</p>
        <p>{{_servicio.info.email}}</p>
      </div>
      <div class="col-md-8">
        <h3>Contactenos</h3>
        <form  (ngSubmit)="envioEmail(envioEmailForm.value)" #envioEmailForm="ngForm" >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <input
              type="text" class="form-control input-lg"
              name="name" id="name" placeholder="Ingrese su nombre" required="required" [(ngModel)]="model.name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control input-lg"
                name="email" id="email" placeholder="Ingrese su email" required="required" [(ngModel)]="model.email"   />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control input-lg"
                name="asunto" id="asunto" placeholder="Asunto" required="required" [(ngModel)]="model.asunto" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="mensaje" id="mensaje"  class="form-control" rows="4" cols="25" required="required" [(ngModel)]="model.mensaje" placeholder="Mensaje" style="height: 170px;"></textarea>
              </div>
              <button type="submit" class="btn btn-skin btn-block" name="submit" id="submit">Enviar</button>
            </div>
          </div>
        </form>
<p>{{currentEmail}}</p>
      </div>
    </div>
  </div>
  </section>
