 <section class="new-deal">
   <div class="container">
     <div class="row">
     <!-- Elemento -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
				<div class="item-slide">
						<div class="box-img">
						<img src="http://clovergraf.com/elementos/assets/img/diseno_04.png" alt="dasdas"/>
							<div class="text-wrap">
							<h4 class="blanco">Mojarra Audiovisual</h4>
							</div>
						</div>
						<div class="slide-hover">
            <div class="text-wrap">
						<p>Descripcion de los servicios realizados en el lugar Lorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit.</p>
								<div class="book-now-c">
									<a href="#">Ver más</a>
								</div>
							</div>

						</div>
				</div>
			</div>
      <!-- Fin Elemento -->
      <!-- Elemento -->
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
         <div class="item-slide">
             <div class="box-img">
             <img src="http://clovergraf.com/elementos/assets/img/diseno_03.png" alt="dasdas"/>
               <div class="text-wrap">
               <h4 class="blanco">La Tinteria</h4>
               </div>
             </div>
             <div class="slide-hover">
             <div class="text-wrap">
             <p>Descripcion de los servicios realizados en el lugar Lorem ipsum dolor sit amet,
               consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit.</p>
                 <div class="book-now-c">
                   <a href="#">Ver más</a>
                 </div>
               </div>

             </div>
         </div>
       </div>
       <!-- Fin Elemento -->
       <!-- Elemento -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
         <div class="item-slide">
             <div class="box-img">
             <img src="http://clovergraf.com/elementos/assets/img/diseno_02.png" alt="dasdas"/>
               <div class="text-wrap">
               <h4 class="blanco">Gsv Digital</h4>
               </div>
             </div>
             <div class="slide-hover">
              <div class="text-wrap">
             <p>Descripcion de los servicios realizados en el lugar Lorem ipsum dolor sit amet,
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit.</p>
                 <div class="book-now-c">
                   <a href="#">Ver más</a>
                 </div>
               </div>

             </div>
         </div>
       </div>
        <!-- Fin Elemento -->
</div>
<div class="row">
<!-- Elemento -->
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
   <div class="item-slide">
       <div class="box-img">
       <img src="http://clovergraf.com/elementos/assets/img/diseno_01.png" alt="dasdas"/>
         <div class="text-wrap">
         <h4 class="blanco">Control Service</h4>
         </div>
       </div>
       <div class="slide-hover">
       <div class="text-wrap">
       <p>Descripcion de los servicios realizados en el lugar Lorem ipsum dolor sit amet,
         consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         Duis aute irure dolor in reprehenderit.</p>
           <div class="book-now-c">
             <a href="#">Ver más</a>
           </div>
         </div>

       </div>
   </div>
 </div>
 <!-- Fin Elemento -->
 <!-- Elemento -->
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
    <div class="item-slide">
        <div class="box-img">
        <img src="http://clovergraf.com/elementos/assets/img/diseno_02.png" alt="dasdas"/>
          <div class="text-wrap">
          <h4 class="blanco">Control Service</h4>
          </div>
        </div>
        <div class="slide-hover">
        <div class="text-wrap">
        <p>Descripcion de los servicios realizados en el lugar Lorem ipsum dolor sit amet,
          consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit.</p>
            <div class="book-now-c">
              <a href="#">Ver más</a>
            </div>
          </div>

        </div>
    </div>
  </div>
  <!-- Fin Elemento -->
  <!-- Elemento -->
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
    <div class="item-slide">
        <div class="box-img">
        <img src="http://clovergraf.com/elementos/assets/img/diseno_03.png" alt="dasdas"/>
          <div class="text-wrap">
          <h4 class="blanco">Control Service</h4>
          </div>
        </div>
        <div class="slide-hover">
         <div class="text-wrap">
        <p>Descripcion de los servicios realizados en el lugar Lorem ipsum dolor sit amet,
           consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           Duis aute irure dolor in reprehenderit.</p>
            <div class="book-now-c">
              <a href="#">Ver más</a>
            </div>
          </div>

        </div>
    </div>
  </div>
   <!-- Fin Elemento -->
</div>
</div>
</section>
