 <div class="row">
 <section class="new-deal">
   <div class="container animated fadeIn">
     <div class="row">
     <!-- Elemento -->
      <div *ngFor="let persona of _port.port"
       class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
				<div class="item-slide">
						<div class="box-img">
						<img [src]="persona.imagen" alt="clovergraf"/>
							<div class="text-wrap">
							<h4 class="blanco">{{persona.cliente}}</h4>
							</div>
						</div>
						<div class="slide-hover">
            <div class="text-wrap">
						<p>{{persona.des_corta}}</p>
								<div class="book-now-c">
									<a href="#">Ver más</a>
								</div>
							</div>

						</div>
				</div>
			</div>
      <!-- Fin Elemento -->


</div>
</div>
</section>
</div>