<!--Top-->
	<header class="main-header">

		<div class="container text-center animated fadeIn" >
			<a class="site-branding" routerLink="/inicio">
				<img width="280px" src="http://clovergraf.com/elementos/assets/img/logo_superior.png" alt="">

			</a><!-- .site-branding -->
		</div>

		<!--Navigation-->
		<div id="menu-wrapper">
			<nav id="menu" class="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse  animated fadeIn">
						<ul class="nav navbar-nav">
							<li><a routerLink="/inicio">Inicio </a></li>
							<li><a routerLink="/servicios">Servicios</a></li>
							<li><a routerLink="/portafolio">Portafolio</a></li>
							<li><a routerLink="/nosotros">Nosotros</a></li>
							<li><a routerLink="/contacto">Contácto</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

	</header>
